:root {
    --set1-primary-color: #DA755C;
    --set1-secondary-color: #FFF5F4;
    --set1-background-color: #da755c81;
    --set1-text-color: white;

    --set2-primary-color: #C0564A;
    --set2-secondary-color: #fffbfe;
    --set2-background-color: #c0564a9a;
    --set2-text-color: white;
}

:root {
    --primary-color: var(--set2-primary-color);
    --secondary-color: var(--set2-secondary-color);
    --background-color: var(--set2-background-color);
    --text-color: var(--set2-text-color);
}