/* RESOLUTION AU DESSUS DE 1900px */

h1 {
    font-size: 50px;
}

/*BARRE DE NAVIGATION*/
nav {
    position: relative;
    z-index: 1;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 55%;
}

/*BANNIERE*/
#texte-banniere {
    position: absolute;
    text-align: center;
    line-height: 1.5;
    right: 10%;
    left: 10%;
    top: 25%;
}

/*PRESENTATION*/
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation {
    position: relative;
    bottom: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1100px;
}

#texte-presentation {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 15px 50px 5px 50px;
    width: 350px;
}

#img-presentation {
    position: relative;
    bottom: 440px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 1600px;
}

#img-presentation img {
    width: 26%;
}

#logo-presentation {
    box-shadow: none;
    position: relative;
    top: 70px;
}

/*DEROULE*/
#prestation-deroule {
    position: relative;
    bottom: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1400px;
    line-height: 1.4;
}

#prestation-deroule img {
    width: 55%;
    margin-bottom: 60px;
}

#prestation-deroule aside {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

/*CARTE CADEAU*/
#carte-cadeau {
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: var(--background-color);
    color: var(--text-color);
}

#carte-cadeau h2 {
    position: relative;
    bottom: 10px;
    margin: 0;
}

#carte-cadeau img {
    width: 40px;
}

#carte-cadeau p {
    width: 60%;
    line-height: 1.5;
}

.btn {
    background-color: transparent;
    color: var(--text-color);
    font-size: 20px;
    border: solid 3px var(--text-color);
    border-radius: 20px;
    padding: 12px 16px 12px 16px;
    position: relative;
    top: 10px;
    transition: all 0.6s ease-in-out;
}

.btn:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

@media all and (min-width: 1366px) and (max-width: 1900px) {
    h1 {
        font-size: 40px;
    }
    #texte-presentation {
        width: 300px;
    }
    #img-presentation {
        bottom: 380px;
        width: 1300px;
    }
    #img-presentation img {
        width: 26%;
    }
    /*DEROULE*/
    #prestation-deroule {
        bottom: 320px;
        width: 1000px;
    }
    #prestation-deroule img {
        width: 65%;
        margin-bottom: 40px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        bottom: 220px;
        height: 400px;
        margin-bottom: -200px;
    }
    #carte-cadeau h2 {
        bottom: 20px;
    }
    #carte-cadeau p {
        line-height: 1.8;
    }
    .btn {
        top: 20px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1365px) {
    h1 {
        font-size: 40px;
    }
    #texte-banniere {
        top: 20%;
    }
    #presentation {
        bottom: 220px;
    }
    #texte-presentation {
        width: 500px;
    }
    #img-presentation {
        display: none;
    }
    /*DEROULE*/
    #prestation-deroule {
        bottom: 810px;
        width: 800px;
    }
    #prestation-deroule img {
        box-shadow: 0px 0px 8px var(--primary-color);
        border-radius: 5px;
        width: 65%;
        margin-bottom: 40px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        bottom: 740px;
        height: 420px;
        margin-bottom: -740px;
    }
    #carte-cadeau h2 {
        bottom: 20px;
    }
    #carte-cadeau p {
        line-height: 1.8;
    }
    .btn {
        top: 20px;
    }
}

@media all and (min-width: 700px) and (max-width: 1023px) {
    h1 {
        font-size: 36px;
    }
    #texte-banniere {
        top: 20%;
    }
    #presentation {
        bottom: 220px;
    }
    #texte-presentation {
        width: 400px;
    }
    #img-presentation {
        display: none;
    }
    /*DEROULE*/
    #prestation-deroule {
        bottom: 825px;
        width: 550px;
    }
    #prestation-deroule img {
        box-shadow: 0px 0px 8px var(--primary-color);
        border-radius: 5px;
        width: 90%;
        margin-bottom: 40px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        bottom: 740px;
        height: 420px;
        margin-bottom: -740px;
    }
    #carte-cadeau h2 {
        bottom: 20px;
    }
    #carte-cadeau p {
        line-height: 1.8;
    }
    .btn {
        top: 20px;
    }
}

@media all and (min-width: 426px) and (max-width: 699px) {
    h1 {
        font-size: 36px;
    }
    #texte-banniere {
        top: 20%;
    }
    #presentation {
        bottom: 180px;
    }
    #texte-presentation {
        width: 200px;
    }
    #img-presentation {
        display: none;
    }
    /*DEROULE*/
    #prestation-deroule {
        bottom: 400px;
        width: 300px;
    }
    #prestation-deroule img {
        box-shadow: 0px 0px 8px var(--primary-color);
        border-radius: 5px;
        width: 100%;
        margin-bottom: 40px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        bottom: 330px;
        height: 500px;
        margin-bottom: -380px;
    }
    #carte-cadeau h2 {
        bottom: 25px;
    }
    #carte-cadeau p {
        line-height: 1.8;
    }
    .btn {
        font-size: 16px;
        top: 25px;
    }
}

@media all and (min-width: 376px) and (max-width: 425px) {
    h1 {
        font-size: 30px;
    }
    #texte-banniere {
        top: 18%;
    }
    #presentation {
        bottom: 180px;
    }
    #texte-presentation {
        width: 200px;
    }
    #img-presentation {
        display: none;
    }
    /*DEROULE*/
    #prestation-deroule {
        bottom: 420px;
        width: 300px;
    }
    #prestation-deroule img {
        box-shadow: 0px 0px 8px var(--primary-color);
        border-radius: 5px;
        width: 100%;
        margin-bottom: 25px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        bottom: 350px;
        height: 500px;
        margin-bottom: -380px;
    }
    #carte-cadeau h2 {
        bottom: 20px;
    }
    #carte-cadeau img {
        display: none;
    }
    #carte-cadeau p {
        width: 70%;
        line-height: 1.8;
    }
    .btn {
        font-size: 16px;
        top: 20px;
    }
}

@media all and (max-width: 375px) {
    nav {
        padding: 20px 0px 5px 0px;
    }
    h1 {
        font-size: 30px;
    }
    #texte-banniere {
        top: 16%;
    }
    #presentation {
        bottom: 190px;
    }
    #texte-presentation {
        padding: 15px 30px 15px 30px;
        width: 200px;
    }
    #img-presentation {
        display: none;
    }
    /*DEROULE*/
    #prestation-deroule {
        bottom: 415px;
        width: 260px;
    }
    #prestation-deroule img {
        box-shadow: 0px 0px 8px var(--primary-color);
        border-radius: 5px;
        width: 100%;
        margin-bottom: 25px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        bottom: 350px;
        height: 500px;
        margin-bottom: -380px;
    }
    #carte-cadeau h2 {
        bottom: 15px;
    }
    #carte-cadeau img {
        display: none;
    }
    #carte-cadeau p {
        width: 70%;
        line-height: 1.8;
    }
    .btn {
        font-size: 16px;
        top: 15px;
    }
}