/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* RESOLUTION AU DESSUS DE 1900px */

/* Animation */
@keyframes slideFromBottom {
    0% { transform: translateY(70px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes apparition {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#presentation, .prestation-deroule > * {
    animation-name: slideFromBottom;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}

h1 {
    font-size: 52px;
}

/*BARRE DE NAVIGATION*/
nav {
    position: relative;
    z-index: 1;
    background-color: var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    width: 55%;
}

/*MAIN*/
#main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*BANNIERE*/
#texte-banniere {
    position: relative;
    bottom: 520px;
    left: 5%;
    text-align: center;
    width: 90%;
    opacity: 0;
    animation: apparition 3s ease-in-out forwards;
}

/*PRESENTATION*/
#presentation {
    position: relative;
    bottom: 290px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#texte-presentation {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 15px 50px 5px 50px;
    width: 350px;
}

#img-presentation {
    position: relative;
    bottom: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 1600px;
}

#img-presentation img {
    width: 26%;
}

#logo-presentation {
    position: relative;
    top: 80px;
}

/*DEROULE*/
.prestation-deroule {
    position: relative;
    bottom: 665px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 1400px;
    height: auto;
    margin-bottom: -600px;
    line-height: 1.4;
}

.prestation-deroule img {
    width: 55%;
    margin-bottom: 50px;
}

.prestation-deroule aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 300px;
}

/*CARTE CADEAU*/
#carte-cadeau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-bottom: 50px;
}

#carte-cadeau h2 {
    position: relative;
    bottom: 10px;
    margin: 0;
}

#carte-cadeau img {
    width: 40px;
}

#carte-cadeau p {
    width: 60%;
    line-height: 1.5;
}

.btn {
    background-color: transparent;
    color: var(--text-color);
    font-size: 20px;
    line-height: 1;
    border: solid 3px var(--text-color);
    border-radius: 20px;
    padding: 12px 16px 12px 16px;
    position: relative;
    top: 10px;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.btn:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

@media all and (min-width: 1366px) and (max-width: 1900px) {
    h1 {
        font-size: 50px;
    }
    /*BANNIERE*/
    #texte-banniere {
        bottom: 540px;
    }
    /*PRESENTATION*/
    #presentation {
        bottom: 300px;
    }
    #texte-presentation {
        width: 300px;
    }
    #img-presentation {
        bottom: 400px;
        width: 1340px;
    }
    #logo-presentation {
        top: 70px;
    }
    /*DEROULE*/
    .prestation-deroule {
        bottom: 630px;
        width: 1000px;
        margin-bottom: -570px;
    }
    .prestation-deroule img {
        width: 65%;
        margin-bottom: 40px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        height: 400px;
    }
    #carte-cadeau h2 {
        bottom: 20px;
    }
    #carte-cadeau p {
        line-height: 1.8;
    }
    .btn {
        top: 20px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1365px) {
    h1 {
        font-size: 40px;
    }
    /*BANNIERE*/
    #texte-banniere {
        bottom: 425px;
    }
    /*PRESENTATION*/
    #presentation {
        bottom: 260px;
    }
    #texte-presentation {
        width: 500px;
    }
    #img-presentation {
        display: none;
    }
    /*DEROULE*/
    .prestation-deroule {
        bottom: 200px;
        width: 800px;
        margin-bottom: -150px;
    }
    .prestation-deroule img {
        -webkit-box-shadow: 0px 0px 4px var(--primary-color);
                box-shadow: 0px 0px 4px var(--primary-color);
        border-radius: 5px;
        width: 75%;
        margin-bottom: 50px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        height: 420px;
    }
    #carte-cadeau h2 {
        bottom: 20px;
    }
    #carte-cadeau p {
        line-height: 1.8;
    }
    .btn {
        top: 20px;
    }
}

@media all and (min-width: 700px) and (max-width: 1023px) {
    h1 {
        font-size: 38px;
    }
    /*BANNIERE*/
    #texte-banniere {
        bottom: 370px;
    }
    /*PRESENTATION*/
    #presentation {
        bottom: 210px;
    }
    #texte-presentation {
        width: 400px;
    }
    #img-presentation {
        display: none;
    }
    /*DEROULE*/
    .prestation-deroule {
        bottom: 145px;
        width: 550px;
        margin-bottom: -90px;
    }
    .prestation-deroule img {
        -webkit-box-shadow: 0px 0px 4px var(--primary-color);
                box-shadow: 0px 0px 4px var(--primary-color);
        border-radius: 5px;
        width: 90%;
        margin-bottom: 35px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        height: 420px;
    }
    #carte-cadeau h2 {
        bottom: 20px;
    }
    #carte-cadeau p {
        line-height: 1.8;
    }
    .btn {
        top: 20px;
    }
}

@media all and (min-width: 426px) and (max-width: 699px) {
    h1 {
        font-size: 36px;
    }
    /*BANNIERE*/
    #texte-banniere {
        bottom: 390px;
    }
    /*PRESENTATION*/
    #presentation {
        bottom: 240px;
    }
    #texte-presentation {
        width: 200px;
    }
    #img-presentation {
        display: none;
    }
    /*DEROULE*/
    .prestation-deroule {
        bottom: 170px;
        width: 300px;
        margin-bottom: -110px;
    }
    .prestation-deroule img {
        -webkit-box-shadow: 0px 0px 4px var(--primary-color);
                box-shadow: 0px 0px 4px var(--primary-color);
        border-radius: 5px;
        width: 100%;
        margin-bottom: 30px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        height: 500px;
    }
    #carte-cadeau h2 {
        bottom: 25px;
    }
    #carte-cadeau p {
        line-height: 1.8;
    }
    .btn {
        font-size: 16px;
        top: 25px;
    }
}

@media all and (min-width: 376px) and (max-width: 425px) {
    h1 {
        font-size: 36px;
    }
    /*BANNIERE*/
    #texte-banniere {
        bottom: 390px;
    }
    /*PRESENTATION*/
    #presentation {
        bottom: 240px;
    }
    #texte-presentation {
        width: 200px;
    }
    #img-presentation {
        display: none;
    }
    /*DEROULE*/
    .prestation-deroule {
        bottom: 170px;
        width: 300px;
        margin-bottom: -110px;
    }
    .prestation-deroule img {
        -webkit-box-shadow: 0px 0px 4px var(--primary-color);
                box-shadow: 0px 0px 4px var(--primary-color);
        border-radius: 5px;
        width: 100%;
        margin-bottom: 25px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        height: 500px;
    }
    #carte-cadeau h2 {
        bottom: 20px;
    }
    #carte-cadeau img {
        display: none;
    }
    #carte-cadeau p {
        width: 70%;
        line-height: 1.8;
    }
    .btn {
        font-size: 16px;
        top: 20px;
    }
}

@media all and (max-width: 375px) {
    h1 {
        font-size: 34px;
    }
    /*BARRE DE NAVIGATION*/
    nav {
        padding: 20px 0px 5px 0px;
    }
    /*BANNIERE*/
    #texte-banniere {
        bottom: 390px;
    }
    /*PRESENTATION*/
    #presentation {
        bottom: 250px;
    }
    #texte-presentation {
        padding: 15px 30px 15px 30px;
        width: 200px;
    }
    #img-presentation {
        display: none;
    }
    /*DEROULE*/
    .prestation-deroule {
        bottom: 195px;
        width: 260px;
        margin-bottom: -140px;
    }
    .prestation-deroule img {
        -webkit-box-shadow: 0px 0px 4px var(--primary-color);
                box-shadow: 0px 0px 4px var(--primary-color);
        border-radius: 5px;
        width: 100%;
        margin-bottom: 35px;
    }
    /*CARTE CADEAU*/
    #carte-cadeau {
        height: 500px;
    }
    #carte-cadeau h2 {
        bottom: 15px;
    }
    #carte-cadeau img {
        display: none;
    }
    #carte-cadeau p {
        width: 70%;
        line-height: 1.8;
    }
    .btn {
        font-size: 16px;
        top: 15px;
    }
}